<div class="buttons-grid">
    <app-button text='0' class="button digit zero" (btnClick)="onButtonClick($event)"></app-button>
    <app-button text='7' class="button digit" (btnClick)="onButtonClick($event)"></app-button>
    <app-button text='8' class="button digit" (btnClick)="onButtonClick($event)"></app-button>
    <app-button text='9' class="button digit" (btnClick)="onButtonClick($event)"></app-button>
    <app-button text='4' class="button digit" (btnClick)="onButtonClick($event)"></app-button>
    <app-button text='5' class="button digit" (btnClick)="onButtonClick($event)"></app-button>
    <app-button text='6' class="button digit" (btnClick)="onButtonClick($event)"></app-button>
    <app-button text='1' class="button digit" (btnClick)="onButtonClick($event)"></app-button>
    <app-button text='2' class="button digit" (btnClick)="onButtonClick($event)"></app-button>
    <app-button text='3' class="button digit" (btnClick)="onButtonClick($event)"></app-button>
    <app-button text='=' class="button equals" (btnClick)="onButtonClick($event)"></app-button>
    <app-button text='-' class="button minus" (btnClick)="onButtonClick($event)"></app-button>
    <app-button text='+' class="button plus" (btnClick)="onButtonClick($event)"></app-button>
    <app-button text='/' class="button divide" (btnClick)="onButtonClick($event)"></app-button>
    <app-button text='*' class="button multiply" (btnClick)="onButtonClick($event)"></app-button>
    <app-button text='.' class="button dot" (btnClick)="onButtonClick($event)"></app-button>
    <app-button text='CE' class="button clear" (btnClick)="onButtonClick($event)"></app-button>
</div>