<div class="buttons-grid">
    <app-button text='0' class="button digit0"></app-button>
    <app-button text='7' class="button digit"></app-button>
    <app-button text='8' class="button digit"></app-button>
    <app-button text='9' class="button digit"></app-button>
    <app-button text='4' class="button digit"></app-button>
    <app-button text='5' class="button digit"></app-button>
    <app-button text='6' class="button digit"></app-button>
    <app-button text='1' class="button digit"></app-button>
    <app-button text='2' class="button digit"></app-button>
    <app-button text='3' class="button digit"></app-button>
    <app-button text='=' class="button equals"></app-button>
    <app-button text='-' class="button minus"></app-button>
    <app-button text='+' class="button plus"></app-button>
    <app-button text='/' class="button divide"></app-button>
    <app-button text='*' class="button multiply"></app-button>
    <app-button text='.' class="button dot"></app-button>
    <app-button text='CE' class="button clear"></app-button>
</div>